1 RCDATA "Card game\\res01.bmp"
2 RCDATA "Card game\\res02.bmp"
3 RCDATA "Card game\\res03.bmp"
4 RCDATA "Card game\\res04.bmp"
5 RCDATA "Card game\\res05.bmp"
6 RCDATA "Card game\\res06.bmp"
7 RCDATA "Card game\\res07.bmp"
8 RCDATA "Card game\\res08.bmp"
9 RCDATA "Card game\\res09.bmp"
10 RCDATA "Card game\\res10.bmp"
11 RCDATA "Card game\\res11.bmp"
12 RCDATA "Card game\\res12.bmp"
13 RCDATA "Card game\\res13.bmp"
14 RCDATA "Card game\\res14.bmp"
